.landing{
    justify-content: center;
    text-align: center;
    padding-top: 10vh;
}

.landing .portrait{
    padding: 4em 0 4em 0;
    display: flex;
    justify-content: center;
}

.landing .portrait img{
    width:50vw;
    max-height:40vh;
}

.landing .name{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: var(--nav-text-color);
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size:4em;
    font-weight: 400;
}

.landing_NavLink *{
    color:var(--nav-text-color);
    font-size: 3em;
    text-decoration: none;
    font-style: normal;
    text-shadow: 9px 10px 10px rgba(71,29,136,0.5);
}

.landing_NavLink *:hover{
    text-shadow: 10px -10px 19px rgba(71,29,136,0.5), 10px 10px 19px rgba(71,29,136,0.5), -10px 10px 19px rgba(71,29,136,0.5), -10px -10px 19px rgba(71,29,136,0.5);
}

.landing .navLinks{
    padding: 0 10vw 0 10vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 4em;
}

@media (min-width:1000px){
    .landing .navLinks{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}