:root {
    --main-bg-color:#316cb3   ;
    --main-text-color: white;
    --component-bg-color: #c5d8ef;
    --nav-bg-color:#558dd1;
}

.name{
    font-size: 7vh;
    color: var(--main-text-color);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.navLink{
    color:var(--main-text-color);
    font-size: 5vh;
    font-weight: 200;
    font-style: normal;
}

@media (max-width:1000px){
    .navbar{
        grid-area:navbar;
        background-color: var(--nav-bg-color);
        padding: 5px;
    }
}

@media (min-width:1001px){
    .navbar{
        grid-area:navbar;
        background-color: var(--nav-bg-color);
        padding:10px;
        padding-right: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        text-align: center;
    }
}
