:root {
    --main-bg-color:#316cb3   ;
    --main-text-color: white;
    --component-bg-color: #c5d8ef;
    --nav-bg-color:#558dd1;
}

.name{
    font-size: 7vh;
    color: var(--main-text-color);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.navbar{
    grid-area:navbar;
    justify-content: space-around;
    background-color: var(--nav-bg-color);
}

.navLink{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px;
    color:var(--main-text-color);
    font-size: 5vh;
    font-weight: 200;
    font-style: normal;
    background-color: transparent;
}

@media (max-width:1000px){
    .navLinkTop{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        justify-content: center;
        text-align: center;
    }
}

@media (min-width:1001px){
    .navLinkTop{
        display: grid;
        grid-template-columns: 1fr 1fr;
}}
