img{
    width: 100%;
}

.media{
    grid-area:media;
    display: flex;
    align-items: center;
    margin:.5em 1em .5em 1em;
}

.projectName{
    grid-area:name;
    color:var(--main-bg-color);
}

.desc{
    grid-area:desc;
    color: black;
    font-size:2em;
}

.keywords{
    grid-area:keywords;
}

.keyword{
    text-align: justify;
    font-size: 2em;
}

.gitHub{
    grid-area:gitHub;
}

.status{
    grid-area:status;
    text-align: center;
}

.status *{
    padding-bottom: .5em;
}

.ProjectCard{
    margin-top:1.5em;
    border-radius: 1.7em;
    background-color: var(--component-bg-color);
    color:var(--component-text-color);
    display: grid;
    grid-column-gap:2em;
}

@media (max-width:1099px){
    .ProjectCard{
        padding: 3em 2em 3em 2em;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 2em;
        grid-template-areas:
            "name name"
            "media status"
            "media keywords"
            "desc desc";
    }

    .projectName{
        text-align: center;
    }

    .media{
        max-width: 60vw;
    }
}

@media (max-width:500px){
    .ProjectCard{
        padding: 3em;
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
        grid-template-areas:
            "name"
            "media"
            "status"
            "keywords"
            "desc";
    }

    .media{
        max-width: 100vw;
    }
}

@media (min-width:1100px){
    .ProjectCard{
        padding: 3em 1em 3em 1em;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "media name status"
            "media desc keywords";
    }
}