.companiesWorked{
    grid-area:companiesWorked;
    background-color: var(--component-bg-color);
    box-shadow: var(--boxShadow);
    border-radius: 1.7em;
}
.aside{
    grid-area: aside;
}
.profileImg{
    grid-area:profileImg;
}
.logoLink{
    grid-area:logo;
    max-width:15vw;
}

.workExperienceHeader{
    text-align: center;
    padding:.5em;
    border-bottom: 1px solid var(--main-bg-color);
}

.jobTitle{
    grid-area:jobTitle;
}

.desc{
    grid-area:desc;
    font-weight: bold;
}

.length{
    grid-area:length;
}
.referenceName{
    grid-area:referenceName;
    text-align: right;
}
.position{
    grid-area:position;
    text-align: right;
}
.company{
    grid-area:company;
    text-align: right;
}
.imgUrl{
    grid-area:imgUrl;
    border-radius: 50%;
    width: 100%;
}

.recommendationCard{
    background-color: var(--component-bg-color);
    border-radius: 1.7em;
    padding:2em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10em 3fr;

    grid-template-areas: 
    "imgUrl referenceName"
    "imgUrl position"
    "imgUrl company"
    "referenceText referenceText";
}

.recommendationCard:not(:last-child){
    margin-bottom: 1em;
}

.referenceText{
    grid-area:referenceText;
    font-style: italic;
    padding-top: 1.5em;
}

.companyProfile{
    padding: 1em;
    align-items: center;
    display: grid;
    column-gap: 2em;
}

.work{
    margin: 1em;
    display:grid;
    grid-template-rows: auto;
    row-gap: 1em;
    column-gap:1em;
}

.contactCard{
    grid-area:contactCard;
    box-shadow: var(--boxShadow);
    background-color: var(--component-bg-color);
    border-radius: 1.7em;
    display: grid;
}

@media (max-width:1000px){
    .work .companyProfile{
        margin:2em;
        border-bottom: 1px solid var(--main-bg-color);
        row-gap:1em;
        grid-template-areas:
        "logo"
        "jobTitle"
        "length"
        "desc";
    }

    .work{
        grid-template-areas: 
        "contactCard"
        "companiesWorked"
        "aside";
    }

    .work .contactCard{
        padding:2em;
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 2em;
    }
}

@media (min-width:1001px){
    .companyProfile{
        grid-template-columns: 3fr 5fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "logo jobTitle length"
        "logo desc     length";
    }

    .work{
        grid-template-columns: 5fr 4fr;
        grid-template-areas: 
        "contactCard     aside"
        "companiesWorked aside";
    }

    .work .contactCard{
        padding: 0em 3em 0em 2em;
        grid-template-columns: auto repeat(3, 6em);
        column-gap: 2em;
    }
}