.footer{
  background-color: var(--nav-bg-color);
  position: absolute;
  bottom:0px;
  padding: 1em;
  width: 100vw;
  box-sizing: border-box;
  column-gap: 1em;
  row-gap:.5em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  justify-content: center;
}

.footer span button a img{
  width:2em;
}

.footer button a h2 i{
  color: var(--nav-text-color);
}

.footer span{
  text-align: center;
}

.footer span button{
  padding:0 1em 0 1em;
}

@media (min-width:1001px){
  .footer{
    grid-template-columns: 1fr 1fr 1fr;
  }
}