.landing{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "portrait" "flair" "query";

    row-gap: 5em;
    padding: 5em;
}

.landing .portrait{
    grid-area:portrait;
    text-align: center;
}

.landing div img{
    max-width: 30vw;
}

.landing .flair{
    display: flex;
    align-items: center;
}

.landing .flair ul{
    grid-area:flair;
    color:var(--nav-text-color);
    font-size:2em;
}

.landing .query{
    grid-area:query;
    color:var(--nav-text-color);
    font-weight:normal;
}
@media (min-width:1000px){
    .landing{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "portrait flair"
            "portrait query";
        column-gap:10em;
    }
}