.landing{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "portrait" "flair";

    row-gap: 5em;
    padding: 5em;
}

.landing .portrait{
    grid-area:portrait;
    text-align: center;
}

.landing div img{
    max-width: 30vw;
}

.landing .flair{
    display: flex;
    align-items: center;
}

.landing .flair ul{
    grid-area:flair;
    border: none;
    color:var(--nav-text-color);
    font-size:2em;
}

@media (min-width:1000px){
    .landing{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "portrait flair";
        column-gap:10em;
    }
}